
* { box-sizing: border-box; 
  margin: 0; 
  padding: 0; }
body { 
  background:#080808; color: #fff; 
  font-family: 'Inter', 
  sans-serif; overflow-x: hidden; }
.bmw-hero {
  width: 100vw; 
  height: 75vh;
  background: linear-gradient(90deg, rgba(0,0,0,0.9) 30%, rgba(0,0,0,0.1) 100%), 
              url('https://images.unsplash.com/photo-1555215695-3004980ad54e?w=1600'); /* BMW Dark Image */
  background-size: cover; 
  background-position: center;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0 8%;
  margin-bottom: 50px;
}

.main-logo { 
  font-size: 5.5rem; 
  letter-spacing: 12px; 
  font-weight: 900; color: #fff; }
.sub-text { 
  font-size: 1.2rem; 
  letter-spacing: 5px; color: #d4af37; 
  margin-top: -10px; }

.hero-right { 
  display: flex; 
  flex-direction: column; 
  align-items: flex-end; }
.hero-right input {
  width: 450px; 
  padding: 20px; 
  border-radius: 5px; 
  border: 1px solid black;
  background: rgba(white); color: antiquewhite; 
  font-size: 1.1rem; 
  outline: none;
}


.car-grid-large {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)); 
  gap: 60px; 
  padding: 0 5% 100px 5%;
}


.premium-card { 
  background: #111; 
  border: 1px solid #222; 
  overflow: hidden; 
  transition: 0.4s; }
.premium-card:hover { 
  border-color: #d4af37; 
  transform: translateY(-10px); }

.image-box { 
  position: relative; 
  height: 320px; } 
.image-box img { 
  width: 100%; 
  height: 100%; 
  object-fit: cover; }

.type-badge {
  position: absolute; 
  top: 15px; left: 15px;
   background: #000; color: #d4af37;
  padding: 5px 15px; 
  font-size: 0.8rem; 
  font-weight: bold; 
  border: 1px solid #d4af37;
}

.content-box { 
  padding: 35px; 
  text-align: left; }
.display-name { 
  font-size: 2.2rem;
   font-weight: 800; 
   margin-bottom: 10px; }
.display-price { 
  font-size: 1.8rem; color: #d4af37; 
  font-weight: 600; 
  margin-bottom: 30px; }


.add-cart-btn {
  width: 100%; 
  padding: 20px; 
  background: transparent; color: #fff;
  border: 1px solid #fff;
   font-size: 1.2rem; 
   font-weight: bold; 
   cursor: pointer; 
   transition: 0.3s;
}
.add-cart-btn:hover {
   background: #fff; color: #000; }